{% extends "base.html" %}
{% block title %}Login | Pythonexpress{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login</h1>
            	<div class="login-error">
					{% if form.errors %}
						{% for field in form %}
							{% if field.errors %}
								{{ field.label_tag }}: {{ field.errors }}
							{% endif %}
						{% endfor %}
						{{ form.non_field_errors }}
					{% endif %}
				</div>
                <form class="form-signin" action="/login/" method="POST">
	  				{% csrf_token %}
                	{% for field in form %}
						{{ field.label_tag }}:{{ field }}
   					<br/>
   					{% endfor %}
   				
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                   Login</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
