{% extends "base.html" %}
{% block title %}Organisation | {{ block.super }}{% endblock %}
{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Organisations</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-4-bottom">
        <div class="row push-1-bottom">
            <div class="col-xs-6 sub">
                <a href="{% url 'organisations:organisation_list' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;My Organisations</a>
            </div>
            <div class="col-xs-6 text-right">
                <a href="{% url 'organisations:organisation_update' organisation.pk 'edit' %}" class="btn btn-theme-primary sub pad-1"><i class="fa fa-cog"></i>Edit</a>
                <a href="{% url 'organisations:organisation_update' organisation.pk 'deactivate' %}" class="btn btn-danger sub pad-1"><i class="fa fa-times"></i>Delete</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading regular bold">
                        {{object.name}}
                    </div>
                    <ul class="list-group sub">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4"><strong>Organisation Type</strong></div>
                                <div class="col-xs-8">{{object.get_organisation_type_display}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4"><strong>Description</strong></div>
                                <div class="col-xs-8">{{object.description}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4"><strong>Location</strong></div>
                                <div class="col-xs-8">{{object.location}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4"><strong>Active</strong></div>
                                <div class="col-xs-8">{{object.active}}</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-4"><strong>Users</strong></div>
                                <div class="col-xs-8">
                                    <ul class="list-silent">
                                        {% for u in object.user.all %}
                                            <li>{{u.first_name}} {{u.first_name}}  |  {{u.email}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
