{% extends "base.html" %}
{% block title %}Organisation | {{ block.super }}{% endblock %}
{% block header %}
    <div class="banner push-2 text-center">
        <h1 class="space-0">Organisations</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-4-bottom">
        <div class="row push-2-bottom">
            <div class="col-xs-6 sub">
                <a href="{% url 'organisations:organisation_list' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;My Organisations</a>
            </div>
            <div class="col-xs-6 text-right">
                <a href="{% url 'organisations:organisation_details' organisation.pk %}" class="btn btn-theme-primary sub pad-1"><i class="fa fa-eye"></i>&nbsp;&nbsp;View<span class="hidden-xs"> Organisation</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form method="post" action="">{% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-theme sub" value="Update">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
