{% extends "base.html" %}
{% block title %}Organisation | {{ block.super }}{% endblock %}
{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Organisations</h1>
    </div>
{% endblock %}

{% block content %}
	<section class="myorganisations">
		<div class="push-4-bottom">
			<div class="row">
				<div class="col-xs-6">
					<h3 class="space-1q-top">My Organisations</h3>
				</div>
				<div class="col-xs-6 text-right">
					<a href="{% url 'organisations:organisation_create' %}" class="btn btn-theme-primary sub pad-1"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add<span class="hidden-xs"> Organisation</span></a>
				</div>
			</div>
			<div class="row push-1">
				<div class="col-sm-12">
					{% if not org_created_list %}
						<p class="gray sub"><em>You have not created organisations.</em></p>
					{% else %}
						<div class="table-responsive">
							<table class="table table-bordered table-clickable sub">
								<thead>
									<tr>
										<th>Name</th>
										<th>Location</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									{% for org in org_created_list %}
										<tr class="clickable-row" data-href="{% url 'organisations:organisation_details' org.pk %}">
											<td>{{org.name }}</td>
											<td>{{org.location}}</td>
											<td>{{org.get_organisation_type_display}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	{% if org_belongs_list %}
		<section class="organisations_working_for">
			<div class="push-4-bottom push-1-top">
				<h3>Other organisations I am member of</h3>
				<div class="row">
					<div class="col-sm-12">
						<div class="table-responsive">
							<table class="table table-bordered table-clickable sub">
								<thead>
									<tr>
										<th>Name</th>
										<th>Location</th>
										<th>Type</th>
									</tr>
								</thead>
								<tbody>
									{% for org in org_belongs_list %}
										<tr class="clickable-row" data-href="{% url 'organisations:organisation_details' org.pk %}">
											<td>{{org.name }}</td>
											<td>{{org.location}}</td>
											<td>{{org.get_organisation_type}}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endif %}
{% endblock %}
{% block footer_scripts %}
    <script>
        'use strict';
        $(function(){
            $('.clickable-row').click(function() {
                window.document.location = $(this).data('href');
            });
        });
    </script>
{% endblock %}

