{% extends "layout.html" %}

{% block header_content %}
Deac Organization Confirmation
{% endblock %}

{% block content_body %}
    {% block content %}
        <p>Hey {{full_name}},</p>
		<p>Thank you so much for being a part of the PythonExpress initiative. We're really sorry to see you go. </p>
		<p>If there is anything that we can do to help you or in case you would like to let us know of any grievances, please feel free to drop us a line at contact@pythonexpress.in.</p>
		<p>We would like to hear from you.</p>

		<p>Warmly,</p>
		<p>The PythonExpress team</p>
    {% endblock %}
{% endblock %}
