<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style type="text/css">
    		body {
    		font-size:14px;
    		line-height:24px;
    		font-family:Mallanna,'Source Sans Pro',sans-serif;
    		font-weight:200
    		}
    		p{
    		font-size:1.4em;
    		line-height:1.5
    		}
    	</style>
	</head>
	<body>
		<center>
			<table>
				<tbody>
					<tr>
						<td colspan="2" id="logo" style="text-align: center;" align="center">
							<h1 style="letter-spacing: -0.05em; margin: 30px 0;">
								<a href="/static/img/logo_python_express.png" style="outline:none;">
									<img src= "/static/img/logo_python_express.png" alt="PythonExpress Logo" width="200" height="80">
								</a>
							</h1>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<p>Hello {{full_name}},</p>
							<p></p>
						</td>
					</tr>
					
				</tbody>
			</table>
		</center>
	</body>
</html>