{% extends "layout.html" %}


{% block header_content %}
{% endblock %}

{% block content_body %}
    {% block content %}
        <p>Hey {{full_name}},</p>
		<p>Thank you for registering your organization on PythonExpress.
		 We are extremely excited to have you onboard! 
		 Now that you have your <a href="{{host}}/organisation/{{org_id}}/">profile ready</a>, why not go ahead and <a href="{{host}}/workshop/create/">announce your first workshop?
		 As soon as you do that, we'll notify the regional heads and potential teachers about it.</p>
		<p>If you have any questions, do visit our <a href="{{host}}/faq/">FAQ page</a>. If that doesn't answer your question, feel free to drop a line to contact@pythonexpress.in and we'll get back to you.</p>
		<p>May the love of Python spread far and wide!</p>
		<p>Warmly,</p>
		<p>The PythonExpress team</p>
    {% endblock %}
{% endblock %}
							
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="bodyContent" style="padding-top:0; padding-bottom:0;">
                                                <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/body_placeholder_650px.png" style="max-width:560px;" id="bodyImage" mc:label="body_image" mc:edit="body_image" mc:allowtext />
                                            </td>
                                        </tr> -->
                                        <tr>
                                            <td valign="top" class="bodyFooter text-center" mc:edit="body_content01">
                                                <p><a href="" class="btn btn-primary">View details</a></p>
                                                <p><br>For more info: <a href="http://www.pythonexpress.in/" target="_blank">pythonexpress.in</a><br>Any queries? contact us: <a href="mailto:support@pythonexpress.in">support@pythonexpress.in</a></p>

                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                         <tr>
                                            <td valign="top" class="footerContent" mc:edit="footer_content00">
                                                <a href="https://twitter.com/pythonexpress/">Follow on Twitter</a>&nbsp;&nbsp;&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="footerContent" style="padding-top:0;" mc:edit="footer_content01">
                                                <em>Copyright &copy; 2015-2016 PSSI, All rights reserved.</em>
                                                <br />
                                                <strong>Our mailing address is:</strong>
                                                <br />
                                                <a href="http://lists.pssi.org.in/pipermail/pythonexpress/">mailing list</a>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>