{% extends "base.html" %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Create Workshop</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <b>{{ block.super }}</b> » <a href="/workshop"><b>Workshops</b></a> » Create Workshop
{% endblock %}

{% block content %}
    {{ form.media }}
    <div class="push-6-bottom">
        <div class="row push-2-bottom">
            <div class="col-sm-12 regular">
                <a href="{% url 'workshops:workshop_list' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;My Workshops</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form method="post" action="{% url 'workshops:workshop_create' %}">{% csrf_token %}
                    {{form.errors}}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-theme regular" value="Create">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
