{% extends "base.html" %}                                                             

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Workshop Feedback</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><b>{{ block.super }}</b></li>
        <li><a href="/workshop"><b>Workshops</b></a></li>
        <li><a href="{% url 'workshops:workshop_detail' workshop.pk %}"><b>{{ workshop.requester }}</b></a></li>
        <li class="active">Feedback</li>
    </ol>
{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
{{form.as_p}}
<input type="submit" value="submit">
</form>
{% endblock %}
