{% extends "base.html" %}
{% load static from staticfiles %}
{% include 'autocomplete_light/static.html' %}
{% block title %}Workshop Feedback | {{ block.super }}{% endblock %}
{% block extracss %}
<script src="{% static 'autocomplete.js' %}"></script>
{% endblock %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Submit Feedback</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <b>{{ block.super }}</b> » <a href="/workshop"><b>Workshop</b></a> » Submit Feedback
{% endblock %}

{% block content %}
    <div class="push-6-bottom">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form method="post" action="">{% csrf_token %}
                    {{form.errors}}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-theme regular" value="Submit Feedback">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
