{% extends "base.html" %}
{% load workshop_action_button %}
{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Workshop Details</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-4-bottom">
    	{% if user.is_authenticated %}
        <div class="row push-1-bottom">
            <div class="col-xs-5 sub">
                <a href="{% url 'workshops:workshop_list' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;My Workshops</a>
            </div>
            <div class="col-xs-7 text-right">
                {% if display_edit_button %}
                <a href="{% url 'workshops:workshop_update' workshop.pk %}" class="btn btn-theme-primary sub pad-1"><i class="fa fa-cog"></i>&nbsp;&nbsp;Edit<span class="hidden-xs"> Workshop</span></a>
                {% endif %}
                {% if workshop|show_draft_button:user  %}
                   <a href="javascript:void(0);" data-url="{% url "workshops:workshop_action" workshop.pk 'hold' %}" class="btn btn-warning ws-hold sub pad-1 sub">Hold Workshop</a>
                {% endif %}
                {% if workshop|show_requested_button:user %}
                   <a href="javascript:void(0);" data-url="{% url "workshops:workshop_action" workshop.pk 'publish' %}" class="btn btn-warning ws-hold sub">Publish/Request</a>
                {% endif %}
                {% if workshop|show_accepted_button:user %}
                   <a href="javascript:void(0);" data-url="{% url "workshops:workshop_action" workshop.pk 'accept' %}" class="btn btn-success ws-accept sub">Accept Workshop</a>
                {% endif %}
		{% if workshop|show_decline_button:user %}
		   <a href="javascript:void(0);" data-url="{% url "workshops:workshop_action" workshop.pk 'decline' %}"  class="btn btn-danger ws-decline sub">Decline Workshop</a>
               {% endif %}
	       {% if workshop|show_reject_button:user %}
                  <a href="javascript:void(0);" data-url="{% url "workshops:workshop_action" workshop.pk 'reject' %}"  class="btn btn-danger ws-reject sub">Reject Workshop</a>
               {% endif %}
               {% if workshop|show_feedback_button:user %}
                  <a href="{% url 'workshops:workshop_feedback' workshop.pk %}" class="btn btn-default sub">Share Feedback</a>
               {% endif %}

            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 sub">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Organiser</strong></div>
                            <div class="col-xs-8">{{ workshop.requester }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Instructors</strong></div>
                            <div class="col-xs-8">{{ workshop.get_presenter_list|join:", " }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Date</strong></div>
                            <div class="col-xs-8">{{ workshop.expected_date|date:'l,  M. d Y'  }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Venue</strong></div>
                            <div class="col-xs-8">{{ workshop.location }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Level</strong></div>
                            <div class="col-xs-8">{{ workshop.get_workshop_level_display }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Expected no. of participants</strong></div>
                            <div class="col-xs-8">{{ workshop.no_of_participants }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Section</strong></div>
                            <div class="col-xs-8">{{ workshop.workshop_section }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Status</strong></div>
                            <div class="col-xs-8">{{ workshop.get_status_display }}</div>
                        </div>
                    </li>
                    <!-- <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Is Active</strong></div>
                            <div class="col-xs-8">{{ workshop.is_active }}</div>
                        </div>
                    </li> -->
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Description</strong></div>
                            <div class="col-xs-8">{{ workshop.description }}</div>
                        </div>
                    </li>
                    {% if show_contact_flag %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><strong>College representative</strong></div>
                            {% for u in workshop.requester.user.all %}
                            <div class="col-xs-2">{{u.get_full_name}} </div>
                            <div class="col-xs-4">{{ u.email}}</div>
                            <div class="col-xs-4">{{ u.profile.mobile}}</div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><strong>Presenter/Tutor</strong></div>
                            {% for u in workshop.presenter.all %}
                            <div class="col-xs-2">{{ u.get_full_name}}</div>
                            <div class="col-xs-4">{{ u.email}}</div>
                            <div class="col-xs-4">{{ u.profile.mobile}}</div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><strong>No. of Volunteers</strong></div>
                            <div class="col-xs-10">{{ u.get_full_name}}</div>
                              <form method="post" action="{% url 'workshops:workshop_update_volunteer' workshop.pk %}">{%csrf_token%}
                                <div class="col-xs-6">{{form.number_of_volunteers}}</div>
                                <div class="col-xs-4"><input type="submit" class="btn btn-theme small" value="Update"></div>
                              </form>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
