{% extends "base.html" %}
{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Workshops</h1>
    </div>
{% endblock %}

{% block breadcrumbs %}
    <b>{{ block.super }}</b> » <a href="/workshop"><b>Workshops</b></a> » My Workshops
{% endblock %}

{% block content %}
    <div class="push-4-bottom">
        <div class="row">
            <div class="col-xs-6">
                <h3 class="space-1q-top">My Workshops</h3>
            </div>
            <div class="col-xs-6 text-right">
                <a href="{% url 'workshops:workshop_create' %}" class="btn btn-theme-primary sub pad-1">Request<span class="hidden-xs"> for workshop</span></a>
            </div>
        </div>
        <div class="row push-1">
            <div class="col-sm-12">
                {% if not workshop_list %}
                    <p class="gray sub"><em>No workshops on your list.</em></p>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-bordered table-clickable sub">
                            <thead>
                                <tr>
                                    <th>Organization</th>
                                    <th>Presenter</th>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for workshop in workshop_list %}
                                    <tr class="clickable-row" data-href="{% url 'workshops:workshop_detail' workshop.pk %}">
                                        <td>{{ workshop.requester }}</td>
                                        <td>{{ workshop.get_presenter_list|join:", " }}</td>
                                        <td>{{ workshop.expected_date }}</td>
                                        <td>{{ workshop.location }}</td>
                                        <td>{{ workshop.get_status_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script>
        'use strict';
        $(function(){
            $('.clickable-row').click(function() {
                window.document.location = $(this).data('href');
            });
        });
    </script>
{% endblock %}
