{% extends "base.html" %}
{% load workshop_action_button %}
{% block header %}
    <div class="banner push-2 text-center">
        <h1 class="space-0">Workshop Details</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-4-bottom">
        {% if user.is_authenticated %}
            <div class="row push-1-bottom">
            <div class="col-xs-5 sub">
                <a href="{% url 'workshops:workshop_list' %}"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;My Workshops</a>
            </div>
            <div class="col-xs-7 text-right">
                {% if display_edit_button %}
                    <a href="{% url 'workshops:workshop_update' workshop.pk %}" class="btn btn-theme-primary sub pad-1"><i class="fa fa-cog"></i>&nbsp;&nbsp;Edit<span class="hidden-xs"> Workshop</span></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 sub">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Organiser</strong></div>
                            <div class="col-xs-8">{{ workshop.requester }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Instructors</strong></div>
                            <div class="col-xs-8">{{ workshop.get_presenter_list|join:", " }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Date</strong></div>
                            <div class="col-xs-8">{{ workshop.expected_date|date:'l,  M. d Y'  }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Venue</strong></div>
                            <div class="col-xs-8">{{ workshop.requester.location }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Level</strong></div>
                            <div class="col-xs-8">{{ workshop.get_workshop_level_display }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Expected no. of participants</strong></div>
                            <div class="col-xs-8">{{ workshop.no_of_participants }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Section</strong></div>
                            <div class="col-xs-8">{{ workshop.workshop_section }}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Status</strong></div>
                            <div class="col-xs-8">{{ workshop.get_status_display }}</div>
                        </div>
                    </li>
                   
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-4"><strong>Description</strong></div>
                            <div class="col-xs-8">{{ workshop.description }}</div>
                        </div>
                    </li>
                    {% if show_contact_flag %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><strong>College representative</strong></div>
                            {% for u in workshop.requester.user.all %}
                                <div class="col-xs-2">{{u.get_full_name}} </div>
                                <div class="col-xs-4">{{ u.email}}</div>
                                <div class="col-xs-4">{{ u.profile.mobile}}</div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><strong>Presenter/Tutor</strong></div>
                            {% for u in workshop.presenter.all %}
                                {{u.profile.slug}}
                                <a href="{% url 'profiles:profile-page' u.profile.slug %}" >
                                    <div class="col-xs-2"><u>{{ u.get_full_name}}</u></div>
                                </a>
                                <div class="col-xs-4">{{ u.email}}</div>
                                <div class="col-xs-4">{{ u.profile.mobile}}</div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}

                    <li class="list-group-item">
    			         <div class="row">
        		              <div class="col-xs-2"><strong>No. of Volunteers</strong></div>
			                     <div class="col-xs-10">
            	                       <div class="col-xs-2"></div>
           			                  <div class="col-xs-8">
                                        {{ workshop.volunteer.count }} / {{ workshop.number_of_volunteers }} 
                                          
                                          {% if show_contact_flag %}
                                              {% for volunteer in workshop.volunteer.all %}
                                                <div>{{ volunteer.get_full_name}} , 
                                                {{ volunteer.email}}, 
                                                {{ volunteer.profile.mobile}}</div>
                                               {% endfor %}
                                            {% endif %}
                                          
                                      </div>
                                          
        		                  </div>
    			             </div>
		              </li>
                      <li class="list-group-item">
                         <div class="row">
                      
                            {% if workshop|show_draft_button:user  %}
                                <a href="javascript:void(0)" data-url="/workshop/{{workshop.pk}}/hold/" class="btn btn-warning ws-hold">Hold</a>
                            {% endif %}
                            {% if workshop|show_requested_button:user %}
                                <a href="javascript:void(0)" data-url="{% url "workshops:workshop_action" workshop.pk 'publish' %}" class="btn btn-warning ws-publish">Publish/Request</a>
                            {% endif %}
                            {% if workshop|show_accepted_button:user %}
                                <a href="javascript:void(0)" data-url="/workshop/{{workshop.pk}}/accept/" class="btn btn-success ws-accept">Accept</a>
                            {% endif %}
                            {% if workshop|show_decline_button:user %}
                               <a href="javascript:void(0)" data-url="{% url "workshops:workshop_action" workshop.pk 'decline' %}"  class="btn btn-danger ws-decline">Decline</a>
                            {% endif %}
                           {% if workshop|show_reject_button:user %}
                                <a href="javascript:void(0)" data-url="{% url "workshops:workshop_action" workshop.pk 'reject' %}"  class="btn btn-danger ws-reject">Reject</a>
                            {% endif %}
                            {% if workshop|show_accept_volunteer_button:user %}
                              <a href="javascript:void(0);" data-url="{% url "workshops:workshop_opt_in_volunteer" workshop.pk  %}"  class="btn btn-primary vol-ws-accept">Opt-In as Volunteer</a>
                           {% endif %}
                           {% if workshop|show_opt_out_volunteer_button:user %}
                              <a href="javascript:void(0);" data-url="{% url "workshops:workshop_opt_out_volunteer" workshop.pk %}"  class="btn btn-danger vol-ws-reject">Opt-Out as Volunteer</a>
                           {% endif %}
                            {% if workshop|show_feedback_button:user %}
                                <a href="{% url 'workshops:workshop_feedback' workshop.pk %}" class="btn btn-default">Share Feedback</a>
                            {% endif %}
                        </div>
                    </li>
                    {% if user.is_staff %}
                        <li class="list-group-item">
                            <div>
                            {% for feedback in workshop.workshopfeedback_set.all %}
                                <div>
                                    {{feedback.get_feedback_type_display}}<br>
                                    {{feedback.comment}}<br>

                                    {% for voting in feedback.workshop_feedback.all %}
                                        <p>{{voting.workshop_rating.name}} :{{voting.rating}}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </li>
                   {% endif %}
            
                </ul>
            </div>
           
        </div>
    </div>

<!-- Modal -->
<div id="volunteer-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" data-url="{% url 'workshops:workshop_update_volunteer' workshop.pk %}">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="volunteer-msg"></h4>
      </div>
      <div class="modal-body">
        <p> Volunteer required: {{ form.number_of_volunteers }}</p>
      </div>
       <div class="modal-body">
        <p> Do you need travel/stay financial support ?: {{ form.tutor_reimbursement_flag }}</p>
      </div>
       <div class="modal-body">
        <p> Provide details on reimbrusement: {{ form.comments }}</p>
      </div>
      <div class="modal-footer">
	       <button type="button" class="btn btn-default btn-primary" id="set-volunteer">Update</button>
            <button type="reset" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>

{% endblock %}
{% block footer_scripts %}
    <script>
        'use strict';
        $(function(){
            $('.clickable-row td:nth-child(-n + 5)').click(function() {
               window.document.location = $(this).parent().attr('data-href');
            });

	   function update_volunteers() {
            $("#volunteer-modal").modal('show');
            $("#set-volunteer").bind('click', function() {
                alert("AM here");
                $.post(
                    $(".modal-dialog").attr('data-url'),
                    {"number_of_volunteers": $("#id_number_of_volunteers").val()
                    },
                    function (data) {
                        $("#volunteer-msg").text(data['msg']);
                        //window.location.reload();
                    });
                });
                $("#volunteer-modal").on('hidden.bs.modal', function(){
                    $("#volunteer-msg").text("");
                    //window.location.reload();
                });
        }

        $(".ws-accept").bind('click', function(){
            $.post($(this).attr('data-url'), {}, function (data) {

                if (data['status']) {
              	    update_volunteers();
                } else {
                    alert(data['msg']);
                }
            });
        });
        $(".ws-reject").bind('click', function() {
            $.post($(this).attr('data-url'), {}, function(data) {
                if (data["status"]) {
                    window.location.reload();
                }
            });
        });

        $(".ws-publish").bind('click', function() {
            $.post($(this).attr('data-url'), {}, function(data) {
                if (data["status"]) {
                    window.location.reload();
                }
            });
        });
        $(".ws-hold").bind('click', function() {
            $.post($(this).attr('data-url'), {}, function(data) {
                if (data["status"]) {
                    window.location.reload();
                }
            });
        });

        $(".ws-decline").bind('click', function() {
            $.post($(this).attr('data-url'), {}, function(data) {
                if (data["status"]) {
                    window.location.reload();
                }
            });
        });
        
        $(".vol-ws-accept").bind("click", function(data) {
        $.post($(this).attr('data-url'), {}, function(data) {
            if (data["status"]) {
                window.location.reload();
            } else {
                alert(data["msg"]);
            }
            });
        });
        $(".vol-ws-reject").bind("click", function(data) {
        $.post($(this).attr('data-url'), {}, function(data) {
            if (data["status"]) {
                window.location.reload();
            } else {
                alert(data["msg"]);
            }
        });
    });
    });
    </script>
    {% endblock %}
