{% extends "base.html" %}
{% load static from staticfiles %}
{% include 'autocomplete_light/static.html' %}

{% block extracss %}
<script src="{% static 'autocomplete.js' %}"></script>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
	    <li><b>{{ block.super }}</b></li>
	    <li><a href="/region/"><b>Regions</b></a></li>
	    <li class="active">Add Regional Leads</li>
	</ol>
{% endblock %}

{% block content %}

<form method="post" action="{% url 'regions:lead-create' %}">{% csrf_token %}
{{form.errors}}
{{form.as_p}}
<input type="submit" value="Create">
</form>
{% endblock %}
