{% extends "email_messages/layout.html" %}

{% block header_content %}
New Feedback
{% endblock %}


{% block content_body %}
    {% block content %}
        <p>Hi all,</p>
        <p>We have received feedback from {{contact_name}}. Requesting to respective Regional or Admin members to reply and inform all on the action taken.</p>
        <p>
            Email : {{contact_email}}<br>
            Feedback Type : {{feedback_type}} <br>
            Contact Number : {{conatct_number}}<br>
            Comments : {{comments}}<br>
       </p>
        <p>May the love of Python spread far and wide!</p>
        <p>Warmly,</p>
        <p>The PythonExpress team</p>
    {% endblock %}
{% endblock %}
                                           