{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Login | Pythonexpress{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center regular">Sign in</div>
                    <div class="panel-body">
                        <div>
                            <div class="account-wall">
                                <form class="auth-form login" method="POST" action="{% url 'account_login' %}">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    {% if redirect_field_value %}
                                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <div class="push-1q-top">
                                        <button class="btn btn-theme pad-1 sub" type="submit" >{% trans "Sign In" %}</button>
                                        <a class="btn sub gray secondaryAction pull-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div>
                            {% get_providers as socialaccount_providers %}
                            {% if socialaccount_providers %}
                                <!-- <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p> -->
                                <div class="socialaccount_ballot">
                                    <ul class="socialaccount_providers sub">Login with:&nbsp;&nbsp;
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                    </ul>
                                </div>
                                {% include "socialaccount/snippets/login_extra.html" %}
                            {% else %}
                                <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel-footer text-center push-1q-bottom">
                        <p class="sub">Don't have account? <a href="{% url 'account_signup' %}" class="new-account">Signup</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
