{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center regular">{% trans "Set Password" %}</div>
                    <div class="panel-body">
                         <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" class="btn btn-theme sub" name="action" value="{% trans 'Set Password' %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
