{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center regular">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>
                    <div class="panel-body">
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="primary" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action=".">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit" class="btn btn-theme sub" name="action" value="{% trans 'change password' %}"/>
                                </form>
                            {% else %}
                                <p class="text-center"><i class="fa fa-check primary"></i>&nbsp;{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
