{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li><b>{{ block.super }}</b></li>
        <li class="active">Signup</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading text-center regular">Sign Up</div>
                    <div class="panel-body">
                        <div>
                            <form class="auth-form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                                {% endif %}
                                <div class="push-1q-top">
                                    <button class="btn btn-theme pad-1 sub" type="submit" >{% trans "Sign Up" %}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="panel-footer text-center push-1q-bottom">
                        <p class="sub">{% blocktrans %}Already have an account? <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
