{% extends "email_messages/layout.html" %}

{% block header_content %}
New Workshop request 
{% endblock %}


{% block content_body %}
    {% block content %}
        <p> Hello folks!</p>

        <p> Your organization's {{ workshop_topic }} workshop request on {{ date }} has been successfully added! We shall be notifying all the regional leads and potential instructors soon. <p>
        <p> Meanwhile, do visit the url below for more information.
        <a href="{{ workshop_url }}"> {{ workshop_url }}</a>
        </p>
        <p>May the love of Python spread far and wide!</p>
		<p>Warmly,</p>
		<p>The PythonExpress team</p>
    {% endblock %}
{% endblock %}
							
                                           