.half-rule {
  width: 100px;
  margin: 40px auto;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 20px 0px;
  margin-top: 20px;
}

label span.small {
  font-weight: normal;
  color: #737373;
}

.well .btn {
    margin: 5px;
}

ul.org-list li {
    margin: 0px;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
    height: 50px;
}

.vcard .octicon {
    width: 16px;
    text-align: center;
    color: #ccc;
}

.vcard li {
    padding: 2px 0px;

}

.container-wrapper-workshops {
  background: #eeeeee;
  margin: 20px 0px;
  padding: 20px 0px;
}

li.workshop {
  margin-top: 20px;
  margin-bottom: 40px;
}

li.workshop .octicon {
  width: 20px;
  color: #888;
  text-align: left;
}

li.workshop .workshop-notes {
  font-size: 0.9em;
  color: #888;
}

.head {
  background: #eee;
  margin: 0px;
  margin-top: -20px;
  padding-bottom: 10px;
}

.head-admin {
  background: #000;
  color: #ffa;
}

.head-admin a {
  color: #ffa;
}

.breadcrumb {
  background-color: inherit;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

.breadcrumb + h1 {
  padding-top: 0px;
  margin-top: 0px;
}

.workshop-details .well {
  margin: 20px 0px;
}

.flash-messages {
  margin: 20px 0px;
}

.comment {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.comments .comment:last-child {
  border-bottom: 1px solid #ddd;
}

.comment-head span.author {
  font-weight: bold;
}

.user_image {
  height: 40px;
  width: 40px;
}

.user_image_profile {
  height: 120px;
  width: 120px;
}

#chart svg {
  height: 100%;
  width: 100%;
}

.gold_color {
  color: gold;
}
