{% extends "layout.html" %}


{% block header_content %}
Partner Request
{% endblock %}

{% block content_body %}
{% block content %}
        <p>Hi all,</p>
        <p>We have received feedback from {{name}}. Requesting to respective Regional or Admin members to reply and inform all on the action taken.</p>
        <p>
            Organisation Name: {{org_name}}<br>
            Organisation url : {{org_url}}<br>
            Partnership Type : {{partner_type}} <br>
            Description: {{description}}<br>
            Python Usage in organisation : {{python_use}}<br>
            Name : {{name}}<br>
            Email : {{contact_email}}<br>
            Contact Number : {{conatct_number}}<br>
            Comments : {{comments}}<br>
        </p>
        <p>May the love of Python spread far and wide!</p>
        <p>Warmly,</p>
        <p>The PythonExpress team</p>
    {% endblock %}
{% endblock %}
                                           


