{% extends "email_messages/layout.html" %}

{% block header_content %}
Intro for Workshop
{% endblock %}

{% block content_body %}
    {% block content %}
        <tr>
            <td>
                <p> Hello {{ full_name }},</p>
                <p> Welcome to PythonExpress family! </p>
                <p> Hope the <b>{{workshop_section}}</b> workshop held on {{workshop_date}} was a good learning experience.</p>
                <p> Your "Certificate of Participation" is available to download.</p>
                <p> Please log into <a href="https://pythonexpress.org">https://pythonexpress.org</a> and download certificate from My Profile page. For more details refer <a href="http://pythonexpress.org/faq/">FAQ</a></p>
                <p>May the love of Python spread far and wide!</p>
    			<p>Warmly,</p>
    			<p>The PythonExpress team</p>

        </td>
    </tr>
    {% endblock %}
{% endblock %}
                                        
