.masthead {
    background-image: linear-gradient(rgba(72, 88, 111, 0.7), rgba(72, 88, 111, 0.7)), url('../img/home/banner.jpg');
    background-size: cover;
    color: white;
    height: 30em;
    &__title {
        font-size: 2.5em;
        line-height: 1.3;
    }
}
.intro {
    &__text {
        font-size: 1em;
        color: $color__text--gray;
        padding: 6em 0;
    }
    &__stats {
        padding: 2em 0;
    }
}
.testimonial {
    background: $primary;
    color: white;
    &__block {
        padding: 0.5em 0;
    }
    &__quote {
        font-style: italic;
        font-weight: 300;
    }
    &__icon {
        color: $theme;
        width: 2em;
    }
}

.twitter-widget {
    background-color: $color__bg--silver;
    &__profile {
        height: 40em;
        overflow: auto;
    }
}
