{% load workshop_display %}
<div class="push-2-bottom">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="space-1q-top">My organisations</h3>
        </div>
    </div>
    <div class="row push-1">
        <div class="col-sm-12">
            {% if not users_organisation %}
                <p class="gray sub"><em>You are not part of any organisation.</em></p>
            {% else %}
                <div class="table-responsive">
                    <table class="table table-bordered sub">
                        <thead>
                            <tr>
                                <th>Organisation</th>
                                <th>Role</th>
                                <th>Location</th>
                                <th>Users</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for organisation in users_organisation %}
                                <tr>
                                    <td>{{ organisation.name }}</td>
                                    <td>{{ organisation.organisation_role}}</td>
                                    <td>{{organisation.location}}</td>
                                    <td>
                                    	{% for users in  organisation.get_organisation_user_list.all %}
                                    		{{users.first_name}}
                                    	{% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="push-2-bottom">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="space-1q-top">Workshops Requested</h3>
        </div>
    </div>
    <div class="row push-1">
        <div class="col-sm-12">
            {% if not workshop_requested_under_poc %}
                <p class="gray sub"><em>There are no workshop requests</em></p>
            {% else %}
            	{% show_workshops workshop_requested_under_poc %}
            {% endif %}
        </div>
    </div>
</div>

<div class="push-4-bottom">
    <div class="row">
        <div class="col-xs-6">
            <h3 class="space-1q-top">Workshops Accepted</h3>
        </div>
    </div>
    <div class="row push-1">
        <div class="col-sm-12">
            {% if not workshops_accepted_under_poc %}
                <p class="gray sub"><em>There are no workshops that have been accepted.</em></p>
            {% else %}
            	{% show_workshops workshops_accepted_under_poc %}
            {% endif %}
        </div>
    </div>
</div>
