{% extends "base.html" %}

{% block header %}
    <div class="banner push-2 text-center">
        <h1 class="space-0">Dashboard</h1>
    </div>
{% endblock %}

{% block content %}

    {% if is_admin %}
        {% include "profile/admin_dashboard.html" %}
    {% endif %}

    {% if is_regional_lead %}
        {% include "profile/regional_lead_dashboard.html" %}
    {% endif %}

    {% if is_college_poc %}
        {% include "profile/college_poc_dashboard.html" %}
    {% endif %}

    {% if is_tutor %}
        {% include "profile/tutor_dashboard.html" %}
    {% endif %}

{% endblock %}
