{% extends "base.html" %}

{% block breadcrumbs %}
    <b>{{ block.super }}</b> » User Profile
{% endblock %}

{% block content %}
<div>
<div>Full Name: {{object.user.first_name}} {{object.user.last_name}}</div>
<div>No of workshop completed: {{object.get_workshop_count}}</div>
<div>No of workshop upcoming: </div>
<div>No of Students : {{object.get_total_no_of_participants}}</div>
<div>Last Workshop Date: {{object.get_last_workshop_date}}</div>
<div>Tutors Avg rating: {{object.get_avg_workshop_rating</div>
</div>
{% endblock %}