.navbar, .navbar-nav {
    height: 54px;
    border-radius: 0;
    border: none;
}
.navbar-default {
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: $dark;
    font-size: 1em;
    text-transform: uppercase;
    &:hover {
        color: $gray-text;
    }
}
.btn {
    font-weight: 200;
}

.navbar-nav>li>a.nav-btn {
    background: $primary;
    color: #fff;
    margin: 13px 0;
    border-radius: 0.4em;
    padding: 4px 15px;
    &:hover {
        background-color: $primary-alt;
        color: white;
    }
}
