form {
    p {
        overflow: hidden;
        clear: both;
    }
    input[type=text], input[type=email], input[type=password], input[type=number], input[type=file], textarea, select {
        background: $form-input-bg;
        border: none;
        line-height: 1.7;
        padding: 0 0.5em;
        border-radius: 0.2em;
        float: right;
        width: 70%;
        &:focus {
            outline: none;
        }
    }
    label {
        width: 30%;
    }
}
.errorlist {
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    padding: 0.5em 1em;
    border-radius: 4px;
    li {
        list-style-type: none;
        .errorlist {
            border: none;
            padding: 0;
        }
    }
}
