@mixin genspacer($name, $value) {
    .space-#{$name}, .space-#{$name}-top {
        margin-top: #{$value};
    }
    .space-#{$name}, .space-#{$name}-bottom {
        margin-bottom: #{$value};
    }
    .push-#{$name}, .push-#{$name}-top {
        padding-top: #{$value};
    }
    .push-#{$name}, .push-#{$name}-bottom {
        padding-bottom: #{$value};
    }
    .gap-#{$name}, .gap-#{$name}-left {
        margin-left: #{$value};
    }
    .gap-#{$name}, .gap-#{$name}-right {
        margin-right: #{$value};
    }
    .pad-#{$name}, .pad-#{$name}-left {
        padding-left: #{$value};
    }
    .pad-#{$name}, .pad-#{$name}-right {
        padding-right: #{$value};
    }
}

@mixin genspacer_size($size, $name, $value) {
    .gap-#{$size}-#{$name}, .gap-#{$size}-#{$name}-left {
        margin-left: #{$value};
    }
    .gap-#{$size}-#{$name}, .gap-#{$size}-#{$name}-right {
        margin-right: #{$value};
    }
    .pad-#{$size}-#{$name}, .pad-#{$size}-#{$name}-left {
        padding-left: #{$value};
    }
    .pad-#{$size}-#{$name}, .pad-#{$size}-#{$name}-right {
        padding-right: #{$value};
    }
}

@for $i from 0 through 10 {
    @include genspacer($i, $i+em)
}

$extra-spacing-list: (
    'q': 0.25,
    'h': 0.5,
    '3q': 0.75,
    '1h': 1.5,
    '2h': 2.5
);

@each $name, $value in $extra-spacing-list {
    @include genspacer($name, $value+em)
}

@media (max-width: 767px) {
    @for $i from 0 through 10 {
        @include genspacer_size('xs', $i, $i+em)
    }
    @each $name, $value in $extra-spacing-list {
        @include genspacer_size('xs', $name, $value+em)
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    @for $i from 0 through 10 {
        @include genspacer_size('sm', $i, $i+em)
    }
    @each $name, $value in $extra-spacing-list {
        @include genspacer_size('sm', $name, $value+em)
    }
}
