.fill-primary       { background-color: $primary; color: $dark; }
.fill-secondary     { background-color: $secondary; color: white; }
.fill-tertiary      { background-color: $tertiary; color: white; }
.fill-white         { background-color: white; }
.fill-banner        { background-color: $banner; color: white; }

.white      { color: white; }
.gray       { color: $gray-text; }
.primary    { color: $primary; }
.secondary  { color: $secondary; }
.tertiary   { color: $tertiary; }
