body {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Mallanna', 'Source Sans Pro', sans-serif;
    font-weight: 200;
}
p {
    font-size: 1.4em;
    line-height: 1.5;
}
.prose-type {
    font-family: 'EB Garamond', serif;
}

.huge       { font-size: 4em;   }
.extralarge { font-size: 2.5em;   }
.large      { font-size: 2em;   }
.legible    { font-size: 1.8em; line-height: 1.4; }
.regular    { font-size: 1.4em; line-height: 1.5; }
.sub        { font-size: 1.2em; }
.tiny       { font-size: 1em; }

.extrabold  { font-weight: 800; }
.bold       { font-weight: 700; }
.semibold   { font-weight: 600; }
.normal     { font-weight: 400; }
.light      { font-weight: 200; }
.thin       { font-weight: 100; }

.all-caps {
    text-transform: uppercase;
}
@media screen and (max-width: 768px) {
    header[role="banner"] h1{
        font-size: 1.5em;
    }
}
