body {
    font-size: 14px;
    line-height: 24px;
}
.prose-type {
    font-family: 'EB Garamond', serif;
}

.huge       { font-size: 5em; }
.extralarge { font-size: 3em; }
.large      { font-size: 2em; }
.legible    { font-size: 1.5em; }
.regular    { font-size: 1em; }
.sub        { font-size: 0.8em; }
.tiny       { font-size: 0.6em; }
