.btn-theme-1 {
    background-color: $color1;
    border-color: $color1;
}
.btn-theme-2 {
    background-color: $color2;
    border-color: $color2;
    color: white;
}
.btn-theme-3 {
    background-color: $color3;
    border-color: $color3;
}

