.btn-theme-primary {
    background-color: $primary;
    border-color: $primary;
    color: white;
    &:hover {
        background-color: $primary-alt;
        border-color: $primary-alt;
        color: white;
    }
}
.btn-theme-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: white;
    &:hover {
        background-color: $secondary-alt;
        border-color: $secondary-alt;
        color: white;
    }
}
.btn-theme-tertiary {
    background-color: $tertiary;
    border-color: $tertiary;
    color: white;
    &:hover {
        background-color: $tertiary-alt;
        border-color: $tertiary-alt;
        color: white;
    }
}
.btn-theme {
    background-color: $theme;
    border-color: $theme;
    color: $dark;
    &:hover {
        background-color: $dark;
        border-color: $dark;
        color: white;
    }
}
.btn-theme-dark {
    background-color: $dark;
    border-color: $dark;
    color: white;
    &:hover {
        background-color: $theme;
        border-color: $theme;
        color: $dark;
    }
}
.table-clickable {
    .clickable-row {
        cursor: pointer;
        &:hover {
            background-color: $light;
        }
    }
}
