$primary: #2B4E72;
$secondary: #94BA65;
$tertiary: #FBE673;

$color1: #FBE673;
$color2: #ea4c89;
$color3: #55acee;
$color1-alt: #EBD769;
$color2-alt: #DC4680;
$color3-alt: #4E9FDC;

$gray-text: #7B838C;
$dark: #333;
