$primary: #FBE673;
$secondary: #ea4c89;
$tertiary: #55acee;

$primary-alt: #EBD769;
$secondary-alt: #DC4680;
$tertiary-alt: #4E9FDC;

$banner: #2B4E72;
$gray-text: #7B838C;
$dark: #333;

$form-input-bg: #efefef;
