$primary: #00A8C6;
$secondary: #397D9F;
$tertiary: #48586F;
$quaternary: #3A3C55;

$primary-alt: #029FBB;
$secondary-alt: #337190;
$tertiary-alt: #3A495F;

$theme: #FBE673;
$gray-text: #7B838C;
$dark: #353C3C;
$light: #F5F5F5;

$form-input-bg: #efefef;

$mail: #7E8AA1;
$github: #333333;
$twitter: #00ACED;
$facebook: #3A5897;
$googleplus: #DC4A38;
$linkedin: #0274B3;
$github: #222222;
$slideshare: #5BA6A8;
$reddit: #FF5600;
$bitbucket: #1F5081;
$stackoverflow: #F98906;
