@import "vars";
@import "theme";
@import "typography";
@import "layout";
@import "utils";
@import "custom";
@import "forms";

@import 'components/box';
@import 'components/button';
@import 'pages/home';
@import 'pages/faq';


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: $theme;
}
::-moz-selection {
    background-color: $theme;
}

.wrapper {
    margin: 0 auto;
}

body {
    color: $dark;
}
a {
    color: $dark;
    text-decoration: none;
    &:hover, &:active, &:focus {
        color: $dark;
        text-decoration: none;
    }
}
p a {
    display: inline-block;
    line-height: 1;
    &:hover, &:active, &:focus {
        border-bottom: 1px dashed $gray-text;
    }
}
#logo {
    margin-top: -0.2em;
}
.user_image {
    height: 30px;
    width: 30px;
}
.fa-width {
    width: 1.5em;
    text-align: center;
    margin-right: 0.3em;
    display: inline-block;
}
.profile-card {
    .social-icons .fa {
        width: 1.1em;
        text-align: center;
        margin-right: 0.3em;
    }
    .img-circle {
        max-width: 12.5em;
        max-height: 12.5em;
        margin: auto;
        border: 0.5em solid $light;
    }
    .wrap-word {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }
}
@media screen and (max-width: 768px) {
    .profile-card {
        text-align: center;
        .img-circle {
            max-width: 150px;
            max-height: 150px;
        }
    }
}

.navbar {
    z-index: 1;
}
.banner {
    z-index: 0;
    // background-color: $color__bg--silver;
    background: linear-gradient(135deg, $secondary, $tertiary);
    color: $color__bg--silver;
    padding: 6em;
}

footer {
    background: $color__bg--dark;
    font-size: 1em;
    li {
        margin: 1em 0;
    }
    &, a {
        color: $color__text--spacegray;
    }
    a {
        &:hover, &:focus, &:active {
            color: white;
        }
    }
}
.copyright {
    &__logo {
        width: 6em;
    }
}
.social {
    &__link {
    }
    &__icon {
        border-radius: 50%;
        text-align: center;
        padding: 0.5em;
        width: 2em;
        height: 2em;
        font-size: 2em;
        line-height: 1;
        margin-right: 0.5em;
    }
    &__media:hover {
        & > .social__icon {
            &--twitter {
                background-color: $twitter;
            }
            &--facebook {
                background-color: $facebook;
            }
            &--mail {
                background-color: $mail;
            }
            &--github {
                background-color: $github;
            }
        }
    }
    &__label {

    }
}
