<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table>
        <tr>
            <td>Namaste</td>
        </tr>
        <tr>
            <td>
                Welcome aboard. PythonExpress would like to take the liberty of introducing the Trainer and Point of
                Contact for the workshop scheduled for {{date}} and on the topic of {{workshop_title}}.
            </td>
        </tr>
        <tr>
            <td>
                Point of Contact: {{poc_name}} [{{poc_email}}], [{{poc_phone}}]
                The Trainer: {{trainer_name}} [{{trainer_email}}], [{{trainer_phone}}]
            </td>
        </tr>
        <tr>
            <td>
                {{trainer_name}}, please communicate your requirements for the workshop day to {{poc_name}}.
                Please feel free to take this discussion forward, preferably keeping contact@pythonexpress.in in the loop.
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>
                Let’s work towards a great workshop !
            </td>
        </tr>

    </table>
</body>
</html>
