{% extends "base.html" %}
{% block title %}About | Pythonexpress{% endblock %}
{% block content %}

<p>We are the team of volunteers who wanted to teach python and create awareness about Python programming Language</p>

<!--p>
<b>What should you do?</b>
<p> ------------------- </p>

<p>Sign up as a trainer on the Python Express website and check the list of colleges that are willing to organize workshops. If you find any of them to be suitable for you to go and teach at, Express Interest in that particular college. Once you are accepted, you will be notified and things can be taken forward from there.</p>

<p>Sign up as a trainer now:
[http://www.pythonexpress.in/trainers/signup](http://www.pythonexpress.in/trainers/signup)

<p>If you are interested in organizing a Python workshop, sign up as an organization/institution on the Python Express website. The trainers who have already signed up will be able to see your institution. If they are interested, they will Express Interest in your institution. Once that happens, you will be able to accept them and take it forward.</p>

<p>Register an organization now:
[http://www.pythonexpress.in/orgs/signup](http://www.pythonexpress.in/orgs/signup)</p>

</p-->
{% endblock %}