{% extends "base.html" %}
{% block title %}About | {{ block.super }}{% endblock %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">About</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-6-bottom">
        <p> In the month of August 2013, just before the annual PyCon India conference, a bunch of volunteers came together and decided to spread the love of Python far and wide. A lot of colleges and instructors came together conducting numerous workshops, and we celebrated that month as the <a href="https://in.pycon.org/2013/python-month/">PythonMonth</a>.</p>
        <p> The response and enthusiasm was tremendous. The energy kept on flowing, inevitably leading to the thought that if people wanted to learn, and there were people ready to teach, why restrict ourselves to just one month? PythonExpress was born from that thought.</p>
        <p> PythonExpress is an ongoing effort that aims to connect tutors, organizations and students. The ultimate goal behind this project is to create an avenue for the ones who want to learn, to come together with the ones who can teach, thereby helping to improve one's existing knowledge in Python as well as helping one to get a kickstart into the world of Python.</p>
        <p> The exposure that the students gain from the workshops is more than just about Python as a programming language. It is also about the Python community. A community known around the world for its friendly and welcoming nature. </p>
        <p> Last but not the least, we teach Python because we want to, and we love to.</p>
    </div>
{% endblock %}
