<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Pythonexpress{% endblock %}</title>
		<link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="/static/css/app.css">
    	{% block extracss %}
    	{% endblock %}
    </head>
    <body>
  	<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{ site_title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
            {% if user.is_authenticated %}
            	<li><a href="/organisation">Organizations</a></li>
            	<li><a href="/trainers">Trainers</a></li>
            	<li><a href="/workshop">Workshops</a></li>
            {% endif %}

          </ul>
          <!-- div class="nav navbar-form navbar-left">
            <a href="/contact" class="btn btn-warning" style="padding: 5px;">Contact Us</a>
          </div-->

          <ul class="nav navbar-nav navbar-right">
          	{%block loginindicator %}
      			{% if user.is_authenticated %}
              		<li>
              			<div class="navbar-text" style="">Welcome <strong>{{user.name}}</strong></div>
              		</li>
              		<li>
                		<li><a class="auth" id="logout" href="/accounts/logout">Logout</a></li>
              		</li>
            	{% else %}
              		<li><a href="/accounts/login">Log In</a>
            	{% endif %}
            {%endblock loginindicator %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    {% block content_wrapper %}
      {% block container_head %}
        <div class="container">
          {% block content_head %}
          {% endblock %}
        </div>
      {% endblock %}



      {% block container_body %}
        <div class="container">
          {% block content_body %}
            {% block content %}
            {% endblock %}
          {% endblock %}
        </div>
      {% endblock %}
    {% endblock %}

    <footer>
      <div class="container">
        {% block footer %}
          <!--  div class="pull-right">
            <a href="http://blog.pythonexpress.in/">Blog</a> |
            <a href="https://twitter.com/pythonexpress">@pythonexpress</a>
          </div-->
          &copy; 2014 <a href="http://python.org.in/">Python Software Society of India</a>
        {% endblock %}
      </div>
    </footer>

  </body>
</html>
