{% load staticfiles %}
<!doctype html>
<html lang="en">
    {% load static from staticfiles %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{{ SITE_INFO.site_name }}{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href='//fonts.googleapis.com/css?family=EB+Garamond|Source+Sans+Pro|Mallanna' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% block extracss %} {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar no-space-bottom navbar-default fill-white" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/"><img id="logo" src="{% static 'img/logo_python_express.png' %}" width="80" alt="{{ SITE_INFO.site_name }}"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about/" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">About</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/organisation/" class="{% if request.resolver_match.namespace == 'organisations' %}active{% endif %}">Organisations</a></li>
                                <li><a href="/workshop/" class="{% if request.resolver_match.namespace == 'workshops' %}active{% endif %}">Workshops</a></li>
                                {% if user.is_staff %}
                                	<li><a href="/region" class="{% if request.resolver_match.namespace == 'regions' %}active{% endif %}">Regions</a></li>
                                {% endif %}
                            {% endif %}
                            <li><a href="/workshops_info" class="{% if request.resolver_match.url_name == 'workshops_info' %}active{% endif %}">Workshops Info</a></li>
                            <li><a href="/faq" class="{% if request.resolver_match.url_name == 'faq' %}active{% endif %}">FAQ</a></li>
                            <li><a href="/contact" class="{% if request.resolver_match.url_name == 'contact' %}active{% endif %}">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% block loginindicator %}
                                {% if user.is_authenticated %}
                                    <li>
                                    </li>
                                    <li class="dropdown">
                                       <a href="#" class="user-dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            <img class="img-circle user_image" src="/media/{{user.profile.picture}}" /><span class="pad-3q">{{request.user.get_full_name}}</span><i class="fa fa-caret-down"></i>
                                        </a>
                                        <ul class="dropdown-menu sub" aria-labelledby="user_dropdown">
                                            <li><a href="/dashboard/" class="{% if request.resolver_match.namespace == 'dashboard' %}active{% endif %}"><i class="fa fa-dashboard fa-width"></i>Dashboard</a></li>
                                            <li><a href="{% url 'profiles:profile-page' slug=user.username %}"><i class="fa fa-user fa-width"></i>Profile</a></li>
                                            <li><a href="{% url 'account_logout' %}"><i class="fa fa-power-off fa-width"></i>Logout</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                <li><a href="{% url 'account_login' %}">Log In</a>
                                <li><a href="{% url 'account_signup' %}">Sign Up</a>
                                {% endif %}
                            {%endblock loginindicator %}
                        </ul>
                    </div>
                </div>
            </nav>
            {% block content_wrapper %}
                <header role="banner">
                    {% block header %}{% endblock %}
                </header>
                {% block sub_header %}{% endblock %}

                {% block container_body %}
                    <div class="container push-2-top">
                        {% block content_body %}
                            {% block content %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>

        <footer class="fill-white push-1">
            <div class="container text-center">
            {% block footer %}
                <p class="tiny">{{ SITE_INFO.footer|safe }}</p>
            {% endblock %}
            </div>
        </footer>
        <script src="{% static 'js/libs/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
        {% block footer_scripts %}{% endblock %}
    </body>
</html>
