{% load staticfiles %}
<!doctype html>
<html lang="en">
    {% load static from staticfiles %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}PythonExpress{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link href='//fonts.googleapis.com/css?family=EB+Garamond|Source+Sans+Pro|Mallanna' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="{% static 'js/libs/jquery-2.1.4.min.js' %}"></script>
        {% block extracss %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <nav class="navbar no-space-bottom navbar-default fill-white" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="/"><img id="logo" src="{% static 'img/logo_python_express.png' %}" width="80" alt="{{ site_title }}"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about/">About</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="/organisation">Organisations</a></li>
                                <li><a href="/workshop">Workshops</a></li>
                                {% if user.is_staff %}
                                	<li><a href="/region">Regions</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {%block loginindicator %}
                                {% if user.is_authenticated %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}} {{user.last_name}} <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="auth" id="logout" href="/accounts/logout">Logout</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li><a href="/accounts/login" class="nav-btn">Log In</a>
                                {% endif %}
                            {%endblock loginindicator %}
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content_wrapper %}
                {% block header %}{% endblock %}
                {% block sub_header %}{% endblock %}

                {% block container_body %}
                    <div class="container push-4-top">
                        {% block content_body %}
                            {% block content %}
                            {% endblock %}
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endblock %}
        </div>

        <footer class="fill-white push-1">
            <div class="container text-center">
            {% block footer %}
                <p class="tiny">&copy; 2014-2015 <a target="_blank" href="http://pssi.org.in/">Python Software Society of India</a></p>
            {% endblock %}
            </div>
        </footer>


        <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
    </body>
</html>
