{% extends "base.html" %}

{% block title %}FAQ | {{ block.super }}{% endblock %}

{% block header %}
    <div class="banner push-2 text-center">
        <h1 class="no-space">Frequently Asked Questions</h1>
    </div>
{% endblock %}

{% block extracss %}
<style>
.section--faq ol > li {
    font-weight: bold;
}
.section--faq a {
    text-decoration: underline;
}
</style>
{% endblock %}

{% block content %}
<div class="section--faq">
    <ol start="1">
            <h2>General</h2>
            <li>Why are we conducting free workshops?</li>
                To create more awareness on Python programming language and help to build larger Python community.
            <br>
            <li>Do we get any remuneration for doing the workshops?</li>
                    No remuneration is provided as our intention is to help people learn Python. We do help reimburse travel expense upto certain level in case college can't fund tutors. Reach out to PSSI for the same.
            <br>
            <li> I don't see accept button ?</li>
                    Well you first need to log in to your account. Then click on profile and go to UPDATE PROFILE section. Here in the region section you need to select the cities/region where it's easy for you to give the talk. Once you save the settings click on WORKSHOPS tabs and you should be able to see the related workshop of that area.
                  <li>What is the typical duration of these workshops?</li>
                As it more hands on workshop, it basically takes 1- 2 days.
            <br>
    </ol>
    <ol start="1">
            <h2>For College Poc</h2>
            <li>How do I organize a workshop?</li>
                Register yourself as POC (usertype - "College POC"). Create organisation you are part of after which you can request for workshop for your organisation registered.
            <br>
             <li>Is there any kind of fee associated with PythonExpress?</li>
                No, Workshops conducted through PythonExpress are free of cost.
            <br>
            <li>Can i change date for workshop conducted </li>
                Yes, We would request you connect to tutor and infomred at contact@pythonexpres.in
            <br>
            <li>Requirement for workshop</li>
                <ol start="1">
                    <b>Basic requirement:</b>
                       <li> decent Internet connection for every attendee.</li>
                       <li> Working Projector and screen.</li>
                        <li>adequate air conditioning systems.</li>
                        </ol>
                <ol start="1">
                    <b>Recommended:</b>
                        <li>Not more than 40 attendees in one room.</li>
                        <li>decent amplifier system with wireless mic if attendees > 25</li>
                </ol>
        </ol>
    <ol start="1">
        <h2>For Tutor</h2>
        <li>Who can sign up as Tutor?</li>
            Anyone who has knowledge on Python and interested in conducting workshop can become tutor
        <br>
        <li>Is there a selection process for tutor registration?</li>
            No, but tutor should have good knowledge on workshop section selected.
        <br>
        <li>How do I become a tutor?</li>
            Register your self with the options usertype - tutor, interested location - your location to conduct workshop.
            You will receive email from your time of registration for the workshops requested in your location.
        <br>
         <li>Who are the intended audience?</li>
            It depends on the organisation requested for workshop and infrastructure to conduct workshop.
             We help everyone from students till professionals learn Python and related technologies.
        <br>

        <li>I don't see my city/location name in option?</li>
            Please use <a href="{% url 'contact' %}">contact page</a>, chose feedback type option as "others". Share details about locaiton to be added.
            Volunteers will add and let you know via email
        <br>


            <li>Can I get help in the form of slide decks or sample code which can be re-used?</li>
                Yes, drop email to contact@pythonexpress.in for help.
            <br>
            <li>Are there any guidelines in conducting workshops or can I adopt my style of teaching?</li>
                You can adopt your style of teaching.
            <br>
            <li>How is my 'Average Rating' derived?</li>
                It is the average rating of all the workshops conducted by you through PythonExpress.
                Workshop rating is provided by Organisation POC as of now.
                We have plans to integrate Students feedback for each workshop.
            <br>
        </ol>
         <ol start="1">
            <h2>For Volunteer</h2>
            <li>Can I become support volunteer for workshop along with tutor?</li>
                It depends on tutors. We are adding feature to ask tutor on support volunteer need
            <br>

        </ol>
    <br>
    <br>
    <br>
</div>
 {% endblock %}
