{% extends "base.html" %}

{% block title %}FAQ | {{ block.super }}{% endblock %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Frequently Asked Questions</h1>
    </div>
{% endblock %}

{% block content %}
<ol class="pad-2h-left regular">
    <li>Why are we conducting free workshops?</li>
        To create more awareness on Python programming language and help to build larger Python community.
   	<br>
   	<li>Who can sign up as Tutor?</li>
        Anyone who has knowledge on Python and interested in conducting workshop can become tutor
    <br>
    <li>Is there a selection process for tutor registration?</li>
    	No
    <br>
    <li>Who are the intended audience?</li>
        It depends on the organisation requested for workshop and infrastructure to conduct workshop. We help everyone from students till professionals learn Python and related technologies.
    <br>
    <li>Can I use this to organize a training in my company?</li>
        Yes, you can register your company as an organisation with us and request for workshop
    <br>
    <li>How do I become a tutor?</li>
        Register your self with the options usertype - tutor, interested location - your location to conduct workshop.
        You will receive email from your time of registration for the workshops requested in your location.
    <br>
   	<li>How do I organize a workshop?</li>
        Register yourself as POC (usertype - "College POC"). Create organisation you are part of after which you can request for workshop for your organisation registered.
    <br>
    <li>Is there any kind of fee associated with PythonExpress?</li>
        No, Workshops conducted through PythonExpress are free of cost. 
    <br>
    <li>I don't see my city/location name in option?</li>
        Please use <u><a href="/contact/">contact</a></u> page , chose feedback type option as "others". Share details about locaiton to be added.
        Volunteers will add and let you know via email
    <br>
    <ol start="1">
    	<ul><b><u>Tutor</u></b></ul>
		<li>What is the typical duration of these workshops?</li>
			It can be from half a day to 2 days
        <br>
		<li>Can I get help in the form of slide decks or sample code which can be re-used?</li>
			Yes, drop email to contact@pythonexpress.in for help.
        <br>
        <li>Are there any guidelines in conducting workshops or can I adopt my style of teaching?</li>
        	You can adopt your style of teaching.
		<br>
        <li>How is my 'Average Rating' derived?</li>
        	It is the average rating of all the workshops conducted by you through PythonExpress. 
        	Workshop rating is provided by Organisation POC as of now.
			We have plans to integrate Students feedback for each workshop.
		<br>
		<li>Do we get any remuneration for doing the workshops?</li>
                No remuneration is provided as our intention is to help people learn Python. We do help reimburse travel expense upto certain level in case college can't fund tutors. Reach out to PSSI for the same.
     </ol>
</ol>
 {% endblock %}