{% extends "base.html" %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block header %}
    <div class="masthead text-center relative">
        <div class="container vertical-center">
            <h1 class="masthead__title prose-type">PythonExpress brings<br>tutors, organizations and students together<br>to spread the love of Python far and wide.</h1>
        </div>
    </div>
{% endblock %}

{% block sub_header %}{% endblock %}

{% block content_full %}
    {% load static from staticfiles %}
    <section class="intro block clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro__text">
                        <p>PythonExpress is an initiative and ongoing effort by the <a href="https://pssi.org.in/" target="_blank">Python Software Society of India (PSSI)</a>. It aims to create an avenue for learning and exploring the Python programming language and community by acting as a bridge between organizations interested in hosting a workshop, students who want to learn, and experienced Python programmers who are interested to teach.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="intro__stats">
                        <div class="col-xs-6">
                            <div class="statbox statbox--1">
                                <div class="statbox__count prose-type">{{ tutor_registered_count }}</div>
                                <div class="statbox__label">Tutors registered</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="statbox statbox--2">
                                <div class="statbox__count prose-type">{{ organisation_registered_count }}</div>
                                <div class="statbox__label">Organizations registered</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="statbox statbox--3">
                                <div class="statbox__count prose-type">{{ requested_workshop_count }}</div>
                                <div class="statbox__label">Workshops Requested</div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="statbox statbox--4">
                                <div class="statbox__count prose-type">{{ completed_workshop_count }}</div>
                                <div class="statbox__label">Workshops completed</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fill-silver">
        <div class="container">
            <div class="row text-center push-4">
                <div class="col-md-4">
                    <div class="featurebox">
                        <div class="featurebox__icon">
                            <object type="image/svg+xml" data="{% static 'img/home/teacher.svg' %}"></object>
                        </div>
                        <p class="featurebox__text push-3q-bottom pad-2">Know Python? Love to teach? Register as a tutor!</p>
                        <div class="featurebox__button">
                            <a href="/accounts/login/" class="btn btn-theme btn-theme-primary">I am a teacher</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featurebox">
                        <div class="featurebox__icon">
                            <object type="image/svg+xml" data="{% static 'img/home/host.svg' %}"></object>
                        </div>
                        <p class="featurebox__text push-3q-bottom pad-1h">Want to host a workshop at your organization?</p>
                        <div class="featurebox__button">
                            <a href="/accounts/login/" class="btn btn-theme btn-theme-secondary">I am a host</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="featurebox">
                        <div class="featurebox__icon">
                            <object type="image/svg+xml" data="{% static 'img/home/student.svg' %}"></object>
                        </div>
                        <p class="featurebox__text push-3q-bottom pad-2">Want to learn? Checkout the upcoming workshops!</p>
                        <div class="featurebox__button">
                            <a href="/accounts/login/" class="btn btn-theme btn-theme-tertiary">I am a Student</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
