{% extends "base.html" %}

{% block title %}Home | {{ block.super }}{% endblock %}

{% block header %}
    <div class="fill-theme text-center push-8-bottom push-6-top pad-1-xs">
        <div class="container">
            <h1 class="prose-type extralarge">PythonExpress brings <span class="primary">tutors</span>, <span class="secondary">organizations</span> and <span class="tertiary">students</span> together <br>to spread the love of Python far and wide.</h1>
        </div>
    </div>
{% endblock %}

{% block sub_header %}
    <div class="clearfix text-center">
        <div class="col-sm-4 fill-primary">
            <div class="huge push-h-top push-1q-bottom">{{ tutor_registered_count }}</div>
            <div class="regular push-3q-bottom">Tutors registered</div>
        </div>
        <div class="col-sm-4 fill-secondary">
            <div class="huge push-h-top push-1q-bottom">{{ organisation_registered_count }}</div>
            <div class="regular push-3q-bottom">Organizations registered</div>
        </div>
        <div class="col-sm-4 fill-tertiary">
            <div class="huge push-h-top push-1q-bottom">{{ completed_workshop_count }}</div>
            <div class="regular push-3q-bottom">Workshops completed</div>
        </div>
        <!-- <div class="col-sm-4 fill-quaternary">
            <div class="extralarge push-h-top push-1q-bottom">500</div>
            <div class="regular push-3q-bottom">Students registered</div>
        </div> -->
    </div>
{% endblock %}

{% block content %}
    <p class="push-2-top push-4-bottom pad-6 pad-1-xs">PythonExpress is an initiative and ongoing effort by the<a href="https://pssi.org.in/" target="_blank">Python Software Society of India (PSSI)</a>. It aims to create an avenue for learning and exploring the Python programming language and community by acting as a bridge between organizations interested in hosting a workshop, students who want to learn, and experienced Python programmers who are interested to teach.</p>
    <div class="row text-center push-6-bottom">
        <div class="col-md-4 push-3">
            <p><i class="fa fa-keyboard-o fa-3x gray"></i></p>
            <p class="push-3q-bottom pad-2">Know Python? Love to teach? Register as a tutor!</p>
            <div><a href="/accounts/login/" class="btn btn-theme-primary regular push-1q pad-2">I am a teacher</a></div>
        </div>
        <div class="col-md-4 push-3">
            <p><i class="fa fa-university fa-3x gray"></i></p>
            <p class="push-3q-bottom pad-1h">Interested in hosting a Python workshop in your community or organization? Sign up!</p>
            <div><a href="/accounts/login/" class="btn btn-theme-secondary regular push-1q pad-2">I'd like to host a workshop</a></div>
        </div>
        <div class="col-md-4 push-3">
            <p><i class="fa fa-graduation-cap fa-3x gray"></i></p>
            <p class="push-3q-bottom pad-2">If you are a student, explore details of the upcoming events on python and participate in it.</p>
            <div><a href="/accounts/login/" class="btn btn-theme-tertiary regular push-1q pad-2">I'm a Student</a></div>
        </div>
    </div>
{% endblock %}
