{% extends "base.html" %}
{% block title %}Workshops | {{ block.super }}{% endblock %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Upcoming Workshops</h1>
    </div>
{% endblock %}

{% block content %}
 <div class="row text-center push-6-bottom">
        <div class="col-md-8 push-3">
            <p class="push-3q-bottom pad-2"><h3>Upcoming Workshops</h3></p>
            {% if workshop_list %}
            <table class="table table-bordered">
                <tr>
                <th>Location</th>
                <th>Workshop Section</th>
                <th>Dates</th>
                <th>College</th>
                <th>presenter</th>
                </tr>
                {% for workshop in workshop_list %}
                    <tr>
                    <td><u><a href="/workshop/{{workshop.id}}/">{{workshop.location}}</a></u></td>
                    <td>{{workshop.workshop_section.name}}</td>

                    <td>{{workshop.expected_date}}</td>
                    <td>{{workshop.requester.name}}</td>
                    <td>
                            {% for u in  workshop.presenter.all %}
                                {{u.get_full_name}}
                            {% endfor %}
                    </td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>All workshop request are completed</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
