{% extends "base.html" %}
{% block title %}Workshops | {{ block.super }}{% endblock %}

{% block header %}
    <div class="fill-theme push-2 text-center">
        <h1 class="no-space">Workshops info</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-6-bottom">
        <p>We conduct workshops on Python and its frameworks. Few examples are given below:</p>
        <ol class="sub pad-1h">
            <li>Python 101</li>
            <li>Get started with Django</li>
            <li>Get Started with Flask</li>
            <li>Scipy 101</li>
        </ol>
    </div>
{% endblock %}
