{% extends "base.html" %}
{% block title %}Workshops | {{ block.super }}{% endblock %}

{% block header %}
    <div class="banner push-2 text-center">
        <h1 class="space-0">Workshops info</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="push-6-bottom">
        <p class="text-center push-1-bottom">We help to organize workshops on Python and its frameworks. Few examples are given below:</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 legible">
                                Python 101
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 text-right regular">
                                <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Beginner</span>
                                <span class="label fill-secondary label-info pad-1"><i class="fa fa-clock-o pad-h-right"></i><span class="hidden-xs">Duration: </span>6 hrs</span>
                                <a href="https://github.com/kracekumar/learnpythoninminutes" target="_blank" class="label fill-primary label-info pad-1"><i class="fa fa-link pad-h-right"></i><span class="hidden-xs">Reference: </span>Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ol class="pad-2h-left regular">
                            <li>Introduction &amp; language basics</li>
                            <li>Some background to Python</li>
                            <li>Value, types, expressions, and statements</li>
                            <li>Data types (Lists, tuples, and dictionaries)</li>
                            <li>Functions</li>
                            <li>Class</li>
                            <li>Regular Expression</li>
                            <li>New style class</li>
                            <li>Decorator, Generator</li>
                            <li>Files, modules, directories and packages</li>
                            <li>Special keywords like with, future</li>
                            <li>Unittest</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 legible">
                                Get started with Django
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 text-right regular">
                                <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Beginner</span>
                                <!-- <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Intermediate</span> -->
                                <span class="label fill-secondary label-info pad-1"><i class="fa fa-clock-o pad-h-right"></i><span class="hidden-xs">Duration: </span>5 hrs</span>
                                <a href="#" target="_blank" class="label fill-primary label-info pad-1"><i class="fa fa-link pad-h-right"></i><span class="hidden-xs">Reference: </span>Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                         <ol class="pad-2h-left regular">
                            <li>Introduction to HTTP, Request, Response, MTV</li>
                            <li>Walk through of django management commands, project/app structure</li>
                            <li>Simple introduction to function based views</li>
                            <li>Create, Edit, Delete Forms and validations</li>
                            <li>Designing your first model</li>
                            <li>Using Django contrib features like User</li>
                            <li>Templating - Variable interpolation, loops, inheritance</li>
                            <li>Django Admin walk through</li>
                            <li>Migration</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 legible">
                                Scipy 101
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 text-right regular">
                            <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Beginner</span>
                                <span class="label fill-secondary label-info pad-1"><i class="fa fa-clock-o pad-h-right"></i><span class="hidden-xs">Duration: </span>6 hrs</span>
                                <a href="http://www.scipy-lectures.org/index.html" target="_blank" class="label fill-primary label-info pad-1"><i class="fa fa-link pad-h-right"></i>
                                <span class="hidden-xs">Scipy Lecture</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ol class="pad-2h-left regular">
                            <li>Introduction</li>
                            <li>Matplotlib</li>
                            <li>Pandas</li>
                            <li>SymPy</li>
                            <li>Mayavi</li>

                        </ol>
                    </div>
                </div>
            </div>
<!--
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 legible">
                                Get Started with Flask
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 text-right regular">
                                <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Beginner</span>
                                <span class="label fill-secondary label-info pad-1"><i class="fa fa-clock-o pad-h-right"></i><span class="hidden-xs">Duration: </span>3 hrs</span>
                                <a href="#" target="_blank" class="label fill-primary label-info pad-1"><i class="fa fa-link pad-h-right"></i><span class="hidden-xs">Reference: </span>Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ol class="pad-2h-left regular">
                            <li>TBD</li>
                        </ol>
                    </div>
                </div>
            </div>
-->
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-5 legible">
                                Machine Learning
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 text-right regular">
                                <span class="label fill-tertiary pad-1"><i class="fa fa-tasks pad-h-right"></i><span class="hidden-xs">Level: </span>Beginner</span>
                                <span class="label fill-secondary label-info pad-1"><i class="fa fa-clock-o pad-h-right"></i><span class="hidden-xs">Duration: </span>3 hrs</span>
                                <a href="https://github.com/pfrcks/Machine-Learning-SKLearn" target="_blank" class="label fill-primary label-info pad-1"><i class="fa fa-link pad-h-right"></i><span class="hidden-xs">Reference: </span>Github</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ol class="pad-2h-left regular">
                            <li>Introduction</li>
                            <li>Supervised Learning
                                <ul>
                                    <li>Classification</li>
                                    <li>Regression</li>
                                </ul>
                            </li>
                            <li>Unsupervised Learning
                                <ul>
                                    <li>Dimensionality Reduction</li>
                                    <li>Clustering</li>
                                </ul>
                            </li>
                            <li>Model Selection and Validation</li>
                            <li>Examples</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
